td {
    background-color: #EEEEEE;
    border-radius: 5px;
    width: 35px;
    height: 35px;
    font-size: 0.65em;
    text-align: center;
    color: #EEEEEE;
}

#griddiv {
	border:1px solid black;
	display:inline-block;
}